// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
// $blue: #3490dc;
// $indigo: #6574cd;
// $purple: #9561e2;
// $pink: #f66d9b;
// $red: #e3342f;
// $orange: #f6993f;
// $yellow: #ffed4a;
// $green: #38c172;
// $teal: #4dc0b5;
// $cyan: #6cb2eb;

//COLORS
//--------------------------------------------------------
//Primary

$indigo: #6574cd;
$pink: #f66d9b;
$cyan: #6cb2eb;

$light-blue: #fa7921;
//Danger
$red: #e55934;
//Success
$green: #9bc53d;
//Info
$aqua: #5bc0eb;
//Warning
$yellow: #fde74c;

$blue: #0073b7;
$navy: #001f3f;
$teal: #39cccc;
$olive: #3d9970;
$lime: #01ff70;
$orange: #ff851b;
$fuchsia: #f012be;
$purple: #605ca8;
$maroon: #d81b60;
$black: #111;
$gray: #d2d6de;
